<app-header></app-header>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div *ngFor="let organization of organizations" class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
               preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#007bff"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em" >{{organization.organization.name}}</text></svg>
          <div class="card-body">
            <p class="card-text" >{{organization.organization.location}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button (click)="deleteOrganization(organization.id)"  class="btn btn-sm btn-outline-secondary">Delete</button>
                <button (click)="editOrganization(organization.id)" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
